@font-face {
  font-family: "Standard";
  font-weight: normal;
  src: url(./fonts/standard-book-webfont.woff);
}
@font-face {
  font-family: "Standard";
  font-weight: normal;
  font-style: italic;
  src: url(./fonts/standard-book-italic-webfont.woff);
}
@font-face {
  font-family: "Standard";
  font-weight: bold;
  font-style: oblique;
  src: url(./fonts/standard-bold-webfont.woff);
}
@font-face {
  font-family: "Standard";
  font-weight: bold;
  font-style: italic;
  src: url(./fonts/standard-bold-italic-webfont.woff);
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font: inherit;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-numeric: inherit;
  font-variant-east-asian: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.progress {
  position: fixed;
  top: 0;
  overflow: hidden;
  left: 0;
  height: 10px;
  width: 0;
  opacity: 0.6;
  mix-blend-mode: darken;
  transition: all linear 0.1s;
  width: 100%;
  z-index: 999;
  pointer-events: none;
}
.progress ._r {
  mix-blend-mode: color;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  background: linear-gradient(90deg, red 0%, #ff9a00 8%, #d0de21 16%, #4fdc4a 24%, #3fdad8 32%, #2fc9e2 40%, #1c7fee 48%, #5f15f2 56%, #ba0cf8 64%, #fb07d9 72%, red 88%, red 100%);
}

body {
  box-sizing: border-box;
  padding: 3em;
  color: #17171a;
  font-family: "Standard";
  font-size: 0.85em;
  transition: background 2s linear;
  background: linear-gradient(0deg, red 0%, #ff9a00 8%, #d0de21 16%, #4fdc4a 24%, #3fdad8 32%, #2fc9e2 40%, #1c7fee 48%, #5f15f2 56%, #ba0cf8 64%, #fb07d9 72%, red 88%, red 100%);
}
@media screen and (max-width: 800px) {
  body {
    padding: 1.5em;
    font-size: 0.8em;
  }
}

main {
  max-width: 85vw;
  z-index: 9;
}
main p {
  width: 600px;
  max-width: 90vw;
}
main strong {
  font-weight: normal;
}

#nav a {
  font-size: 6em;
}

a {
  text-decoration: none;
  color: blue;
  opacity: 0.6;
}

a:hover {
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
}

#hi {
  display: flex;
  min-height: 100vh;
  box-sizing: border-box;
}
#hi #url {
  overflow: hidden;
  padding: 1em 0;
  vertical-align: text-top;
}
#hi #url #_go {
  display: none;
  opacity: 0.8;
}
#hi #url strong {
  font-weight: normal;
}
#hi #url table {
  margin: 0 auto;
}
#hi #url td {
  margin: 0;
  transition: opacity 0.4s cubic-bezier(0.17, 0.67, 0.64, 0.25);
}
#hi #url td._domain {
  min-width: 190px;
}
#hi #url td._domain a {
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  #hi #url td._domain {
    min-width: 155px;
  }
}
#hi #url a._unavailable {
  opacity: 0.4;
}
#hi #url tr._url {
  margin: 0;
  font-size: 3em;
  letter-spacing: -1px;
  line-height: 150%;
  max-width: none;
  font-weight: normal;
}
#hi #url tr._desc td {
  text-align: left;
  max-width: 100px;
  padding-right: 1.5em;
  vertical-align: text-top;
}
#hi #url tr._desc td a {
  display: block;
}
#hi #url td._neocities {
  display: block;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.17, 0.67, 0.64, 0.25);
  transition-delay: 0.3s;
}
#hi #url a {
  color: #DF7EEA;
  text-decoration: none;
  opacity: 1;
  line-height: 140%;
  transition: all 0.3s cubic-bezier(0.17, 0.67, 0.64, 0.25);
}
#hi #url a:hover {
  cursor: pointer;
  color: blue;
  animation: none;
}
#hi #url a._unavailable:hover {
  padding-left: 0;
  text-shadow: none;
  color: gray;
}
@media screen and (max-width: 800px) {
  #hi {
    align-items: flex-start;
  }
  #hi td {
    font-size: 0.9em;
    letter-spacing: 0;
  }
  #hi td a {
    margin-bottom: 0.25em;
  }
  #hi td._www {
    display: none;
  }
  #hi td#_website {
    padding-right: 1.25em;
  }
  #hi #url tr._url {
    font-size: 1.4em;
  }
}

.spacer {
  display: block;
  height: 25vh;
}

#p {
  max-width: 80vw;
}
#p a {
  display: inline-block;
  width: 240px;
  margin: 1em 0;
  margin-right: 1.75em;
  padding-right: 0.5em;
  color: #17171a;
  opacity: 1;
}
#p a strong {
  font-weight: normal;
  font-family: "Times New Roman";
  opacity: 0.8;
}
#p a .url {
  display: block;
  padding-bottom: 0.25em;
  text-decoration: underline;
  transition: color linear 0.2s;
}
#p a .url {
  color: blue;
}
#p a .url::before {
  content: "https://";
}
#p a h2 {
  font-size: 2em;
  letter-spacing: -1px;
  opacity: 1;
  line-height: 110%;
}
#p a p {
  line-height: 140%;
  margin: 0.5em 0;
  opacity: 0.8;
}
#p a:hover {
  cursor: pointer;
  opacity: 1;
}
#p a:hover .url {
  color: #DF7EEA;
}

h1 {
  font-size: 3.2em;
  line-height: 100%;
  letter-spacing: -1px;
  display: inline-block;
  margin-left: -0.05em;
}

p {
  opacity: 0.8;
  margin: 1em 0;
  line-height: 140%;
}

ol,
ul {
  padding: 0.25em 0.75em;
  opacity: 0.8;
}

li {
  margin: 1em 0;
}

.title-links {
  display: inline-block;
}
.title-links a {
  display: block;
  opacity: 0.6;
}
.title-links a:hover {
  opacity: 0.8;
  cursor: pointer;
  color: #DF7EEA;
  animation: rainbow 6s linear 0s infinite;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 3em;
  }

  .__dusk {
    display: none !important;
  }
}
table.love {
  max-width: 80vw;
  line-height: 140%;
  font-size: 0.9em;
}
table.love td {
  padding: 0.25em 0;
  vertical-align: text-top;
}
table.love td._desc {
  opacity: 0.8;
}
table.love p {
  width: 320px;
  max-width: 50%;
}

.newsletter input {
  padding: 0.25em;
  background: transparent;
  border: 1px solid #17171a;
  font-family: "Standard";
  letter-spacing: -0.25px;
  color: #17171a;
}
.newsletter input[type=submit] {
  background: none;
  border: 0;
  cursor: pointer;
  transition: all linear 0.2s;
}
.newsletter input[type=submit]:hover {
  animation: rainbow 6s linear 0s infinite;
}

#love {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
}
#love span {
  display: inline-block;
  padding: 0.25em 0;
  padding-right: 1.5em;
  opacity: 0.8;
  transition: all 0.3s ease;
}
#love span:hover {
  color: #DF7EEA;
  opacity: 1;
  cursor: all-scroll;
}

.nav {
  width: 100%;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.nav a {
  font-size: 1em;
  color: #17171a;
  opacity: 1;
}
.nav select {
  border: 0;
  font-size: 1em;
  cursor: pointer;
  background: none;
}

#links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  padding: 3em;
  display: flex;
}
#links strong {
  font-weight: normal;
}
#links ._link._information {
  margin-left: auto;
  margin-right: 0;
  width: 30vw;
  max-width: 300px;
}
#links ._link._information #say_what {
  transition: all 0.3s ease;
  opacity: 0.8;
}
#links ._link {
  padding-right: 40px;
}
#links ._link p {
  margin: 0;
  opacity: 0.6;
}
#links strong {
  display: block;
  margin-bottom: 0.5em;
}
#links a {
  text-decoration: none;
  display: block;
  color: #17171a;
  opacity: 0.6;
  line-height: 140%;
}
#links a:hover {
  opacity: 1;
  cursor: pointer;
  color: blue;
}
@media screen and (max-width: 800px) {
  #links {
    position: absolute;
    box-sizing: border-box;
    padding: 2em;
    margin: 0;
    font-size: 0.9em;
  }
  #links ._link {
    padding-right: 10px;
  }
  #links ._link._information {
    width: 40vw;
  }
}

.serif {
  font-family: "Times New Roman";
  font-size: 1.15em;
}

.bg {
  position: fixed;
  height: 150vh;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -8;
  opacity: 1;
  pointer-events: none;
  background: #e6e9e9;
  background: linear-gradient(180deg, #e6e9e9 0%, #e6e9e9 30%, rgba(230, 233, 233, 0.5) 100%);
}
@media screen and (max-width: 800px) {
  .bg {
    top: auto;
    bottom: -50vh;
    height: 180vh;
  }
}

.welcome {
  position: fixed;
  height: 200vh;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99;
  animation: bye 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  background: linear-gradient(-180deg, #d04545 0%, #e2a446 8%, #c2cb5a 16%, #9bc39a 24%, #89bebd 32%, #7bb8c3 40%, #7ea0c7 48%, #a187d4 56%, #bf88d3 64%, #fb07d9 72%, #d99494 88%, #d69f9f 100%);
}

@keyframes bye {
  0% {
    opacity: 0.6;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
#NOTFOUND {
  position: absolute;
  right: 0;
  top: 2vh;
  cursor: all-scroll;
}

.dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #121212;
  z-index: 999;
  pointer-events: none;
  mix-blend-mode: color;
  background-blend-mode: color;
  transition: opacity linear 0.4s;
  opacity: 0;
}

.rainbow {
  position: fixed;
  pointer-events: none;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity linear 0.4s;
  background: #fff;
}

@keyframes rainbow {
  from {
    color: rgba(255, 0, 0, 0.8);
  }
  8% {
    color: rgba(255, 154, 0, 0.8);
  }
  16% {
    color: rgba(208, 222, 33, 0.8);
  }
  24% {
    color: rgba(79, 220, 74, 0.8);
  }
  32% {
    color: rgba(63, 218, 216, 0.8);
  }
  40% {
    color: rgba(47, 201, 226, 0.8);
  }
  48% {
    color: rgba(28, 127, 238, 0.8);
  }
  56% {
    color: rgba(95, 21, 242, 0.8);
  }
  64% {
    color: rgba(186, 12, 248, 0.8);
  }
  72% {
    color: rgba(251, 7, 217, 0.8);
  }
  100% {
    color: rgba(255, 0, 0, 0.8);
  }
}

/*# sourceMappingURL=s.css.map */
